{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="student-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="row" id="row">
                    <!------------------------------- title -------------------------------------------------------------------->
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.title.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.title(class = "form-control", placeholder="Τίτλος", required = False) }}
                        {% if form.title.errors %}
                        <ul class = "errors">
                            {% for error in form.title.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------- amount ------------------------------------------------------------------>
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.amount.label(class = "form-label") }}
                        {{ form.amount(class = "form-control", placeholder="Ποσό χρηματοδότησης", required = False) }}
                        {% if form.amount.errors %}
                        <ul class = "errors">
                            {% for error in form.amount.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div> 
                <div class="row" id="row-3">
                    <!------------------------------- start_date --------------------------------------------------------------------->
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.start_date.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.start_date(class = "form-control", required = False) }}
                        {% if form.start_date.errors %}
                        <ul class = "errors">
                            {% for error in form.start_date.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------ end_date ------------------------------------------------------------------>
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.end_date.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.end_date(class = "form-control", required = False) }}
                        {% if form.end_date.errors %}
                        <ul class = "errors">
                            {% for error in form.end_date.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>       
                <div class="row" id="row-3">
                    <!------------------------------ summary --------------------------------------------------------------------->
                    <div class="form-group col-sm-8 mb-3">
                        {{ form.summary.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.summary(class = "form-control", required = False) }}
                        {% if form.summary.errors %}
                        <ul class = "errors">
                            {% for error in form.summary.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>  
                <div class="row" id="row-3">
                    <!------------------------------ organisation_name ------------------------------------------------------------------>
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.organisation_name.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.organisation_name(class = "form-control", required = False) }}
                        {% if form.organisation_name.errors %}
                        <ul class = "errors">
                            {% for error in form.organisation_name.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------ supervisor_id ------------------------------------------------------------------>
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.supervisor_id.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.supervisor_id(class = "form-control", required = False) }}
                        {% if form.supervisor_id.errors %}
                        <ul class = "errors">
                            {% for error in form.supervisor_id.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>    
                <div class="row" id="row-3">
                    <!------------------------------ program_id ------------------------------------------------------------------>
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.program_id.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.program_id(class = "form-control", required = False) }}
                        {% if form.program_id.errors %}
                        <ul class = "errors">
                            {% for error in form.program_id.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>  
                    <!------------------------------ executive_id ------------------------------------------------------------------>
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.executive_id.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.executive_id(class = "form-control", required = False) }}
                        {% if form.executive_id.errors %}
                        <ul class = "errors">
                            {% for error in form.executive_id.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>          
                <div class="row" id="row-3">
                    <!------------------------------ grader_id ------------------------------------------------------------------>
                    <div class="form-group col-sm-3 mb-3">
                        {{ form.grader_id.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.grader_id(class = "form-control", required = False) }}
                        {% if form.grader_id.errors %}
                        <ul class = "errors">
                            {% for error in form.grader_id.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------ grade_date ------------------------------------------------------------------>
                    <div class="form-group col-sm-3 mb-3">
                        {{ form.grade_date.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.grade_date(class = "form-control", required = False) }}
                        {% if form.grade_date.errors %}
                        <ul class = "errors">
                            {% for error in form.grade_date.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------ grade ------------------------------------------------------------------>
                    <div class="form-group col-sm-2 mb-3">
                        {{ form.grade.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.grade(class = "form-control", required = False) }}
                        {% if form.grade.errors %}
                        <ul class = "errors">
                            {% for error in form.grade.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>                            
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}
