{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="student-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="row">
                    <!------------------------------- name -------------------------------------------------------------------->
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.name.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.name(class = "form-control", placeholder="Όνομα", required = False) }}
                        {% if form.name.errors %}
                        <ul class = "errors">
                            {% for error in form.name.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------- abbreviation ------------------------------------------------------------------>
                    <div class="form-group col-sm-2 mb-3">
                        {{ form.abbreviation.label(class = "form-label") }}
                        {{ form.abbreviation(class = "form-control", placeholder="Συντομογαφία", required = False) }}
                        {% if form.abbreviation.errors %}
                        <ul class = "errors">
                            {% for error in form.abbreviation.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div> 
                <div class="row">
                    <!------------------------------- street --------------------------------------------------------------------->
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.street.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.street(class = "form-control",placeholder="Οδός", required = False) }}
                        {% if form.street.errors %}
                        <ul class = "errors">
                            {% for error in form.street.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------ street_number ------------------------------------------------------------------>
                    <div class="form-group col-sm-2 mb-3">
                        {{ form.street_number.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.street_number(class = "form-control", placeholder="Αριθμός", required = False) }}
                        {% if form.street_number.errors %}
                        <ul class = "errors">
                            {% for error in form.street_number.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <!------------------------------ postal_code ------------------------------------------------------------------>
                    <div class="form-group col-sm-2 mb-2">
                        {{ form.postal_code.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.postal_code(class = "form-control", placeholder="Ταχυδρομικός Κώδικας", required = False) }}
                        {% if form.postal_code.errors %}
                        <ul class = "errors">
                            {% for error in form.postal_code.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------ city --------------------------------------------------------------------->
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.city.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.city(class = "form-control", placeholder="Πόλη", required = False) }}
                        {% if form.city.errors %}
                        <ul class = "errors">
                            {% for error in form.city.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>                              
                <div class="row">
                    <!------------------------------- telephone1 -------------------------------------------------------------------->
                    <div class="form-group col-sm-2 mb-3">
                        {{ form.telephone1.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.telephone1(class = "form-control", placeholder="πχ. 2178472847", required = False) }}
                        {% if form.telephone1.errors %}
                        <ul class = "errors">
                            {% for error in form.telephone1.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------- telephone2 ------------------------------------------------------------------>
                    <div class="form-group col-sm-2 mb-3">
                        {{ form.telephone2.label(class = "form-label") }}
                        {{ form.telephone2(class = "form-control", placeholder="πχ. 215842846", required = False) }}
                        {% if form.telephone2.errors %}
                        <ul class = "errors">
                            {% for error in form.telephone2.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <!------------------------------- telephone3 ------------------------------------------------------------------>
                    <div class="form-group col-sm-2 mb-3">
                        {{ form.telephone3.label(class = "form-label") }}
                        {{ form.telephone3(class = "form-control", placeholder="πχ. 210263743", required = False) }}
                        {% if form.telephone3.errors %}
                        <ul class = "errors">
                            {% for error in form.telephone3.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div> 
                <div class="row">
                    <!------------------------------- budget ------------------------------------------------------------------>
                    <div class="form-group col-sm-4 mb-3">
                        {{ form.budget.label(class = "form-label") }}
                        {{ form.budget(class = "form-control", placeholder="", required = False) }}
                        {% if form.budget.errors %}
                        <ul class = "errors">
                            {% for error in form.budget.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}