{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">Επισκόπηση έργων και προγραμμάτων</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/1">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">Όψεις του σχεσιακού μοντέλου</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/2">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">Έργα και ερευνητές ανά επιστημονικό πεδίο</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/3">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">Οργανισμοί με ίδιο πλήθος έργων σε διετία (τουλ. 10)</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/4">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">3 συχνότερα ζεύγη επιστημονικών πεδίων</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/5">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">Νέοι ερευνητές με τα περισσότερα ενεργά έργα</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/6">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">Top 5 στελέχη ΕΛ.ΙΔ.Ε.Κ.-χρηματοδότες εταιρειών</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/7">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                    <h4 class="card-title">Ερευνητές τουλάχιστον 5 έργων χωρίς παραδοτέα</h4>
                    <a class="btn btn-primary" id="show-btn" href="/questions/8">Πατήστε εδώ</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}