{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-mycontainer">
                <div class="card-body" id="card">
                {% if researchers|length == 0 %}
                    <h1 style="margin-top: 5rem;">Δεν βρέθηκαν ερευνητές!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ζεύγος επιστημονικών πεδίων</th>
                                    <th>Πλήθος κοινών έργων</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in researchers %}
                                    <tr>
                                        <td> {{ researcher.field_pair }} </td>
                                        <td> {{ researcher.cnt }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
